@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: white;
	letter-spacing: 0.5px;
}
h2{
	
	letter-spacing: 0.5px;
	font-family: raleway;
}

.navbar-custom .nav-item:hover .nav-link
{
    background: white;
    color: black;
    border-radius: 10px;
}
.div-color
{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, 
      #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    
}
.navbar .nav-item .nav-link
{
    font-size: 20px;
    color:white;
        
}