*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
h1{
	color: #4C4B4B;
	font-weight: bold;
	transition: 0.5s;
}
h3{
	color:#2F363F;
}
  .c
    {
      box-shadow: 2px 3px 5px grey;
    } 
            
                
                
           